{# empty Twig template #}
{% include "WPierreScafoScafoBundle:Default:header.html.twig" with {"page_title":"Création d'un filtre"} %}
<h1>Création d'un nouveau filtre</h1>
{{ form(form) }}
<a href="/Filters/list/{{instance.id}}" class="btn btn-small btn-default"><i class="icon-arrow-left"></i> Retour à la liste des filtres</a>

{% include "WPierreScafoScafoBundle:Filters:documentation.html.twig" %}
{% include "WPierreScafoScafoBundle:Default:footer.html.twig" %}