{% include "WpierreScafoScafoBundle:Default:header.html.twig" with {"page_title":"Import de filtres"} %}
<h1>Import de filtres standard</h1>

{{ form(form) }}

{% include "WpierreScafoScafoBundle:Default:footer.html.twig" %}