{% include "WpierreScafoScafoBundle:Default:header.html.twig" with {"page_title":"Suppression d'une instance"} %}
<h1>Création d'une instance</h1>
<p>Êtes-vous sûr de vouloir supprimer l'instance {{ instance.getInstanceName }} ?</p>
{{ form(form) }}

{% include "WpierreScafoScafoBundle:Default:footer.html.twig" %}