{% include "WPierreScafoScafoBundle:Default:header.html.twig" with {"page_title":"Modification d'une instance"} %}
<h1>Modification de l'instance {{instance.instanceName}}</h1>

{{ form(form) }}

{% include "WPierreScafoScafoBundle:Default:footer.html.twig" %}