{% include "WpierreScafoScafoBundle:Default:header.html.twig" with {"page_title":"Création d'une instance"} %}
<h1>Création d'une instance</h1>

{{ form(form) }}

{% include "WpierreScafoScafoBundle:Default:footer.html.twig" %}