{% include "WpierreScafoScafoBundle:Default:header.html.twig" with {"page_title":"Suppression d'un filtre"} %}

<p>Êtes-vous sûr de vouloir supprimer le filtre "{{filter.getTitle}}" ?</p>
    
{{ form(form) }}

{% include "WpierreScafoScafoBundle:Default:footer.html.twig" %}