{% include "WpierreScafoScafoBundle:Default:header.html.twig" with {"page_title":"Modification d'un filtre"} %}
<h1>Modification du filtre {{ filter.getTitle }}</h1>
{{ form(form) }}

{% include "WpierreScafoScafoBundle:Filters:documentation.html.twig" %}
{% include "WpierreScafoScafoBundle:Default:footer.html.twig" %}