{% include "WPierreScafoScafoBundle:Default:header.html.twig" %}

<div class="jumbotron">
	<h1>Scafo</h1>
	<p>Afin de s'assurer du bon fonctionnement du logiciel, des tests sont menés ci-dessous pour vérifier que vous disposez d'un environnement compatible. S'il existe des messages en rouge, merci de corriger en suivant les instructions.</p>
</div>

<div class="col-md-12">
 {{ messages|raw }}
</div>

{% include "WPierreScafoScafoBundle:Default:footer.html.twig" %}